.header
  &__top
    background-color: #F0F5F7
    +r(767)
      display: none
    &.fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 10
      animation: slideDown 0.5s ease-in-out
      +trans
  .container
    position: relative
    display: flex
    align-items: center
  &__bottom
    padding: 35px 0
    background-color: #fff
    +r(992)
      padding: 20px 0
    +r(767)
      padding: 10px 0
    &.fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 10
      animation: slideDown 0.5s ease-in-out
      +trans
      box-shadow: 0 0 10px rgba(#000, 0.1)
  &__logo
    margin-right: 15px
  &__menu
    margin-left: auto
    +r(992)
      display: none
  &__nav
    +r(767)
      display: none