*,
*:before,
*:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

/* Clearfix for float elements */
.clearfix:before,
.clearfix:after
  content: ''
  display: table

.clearfix:after 
  clear: both

.clearfix
  zoom: 1 /* For IE 6/7 hasLayout */


/* Common styles */
html
  height: 100%
  overflow-x: hidden

body
  margin: 0
  padding: 0
  height: 100%
  min-width: 320px
  font-family: $main-font
  font-size: 14px
  line-height: 1.6
  color: $main-color
  overflow-x: hidden

img
  max-width: 100%
  height: auto

a
  color: $accent
  +trans
  &:hover, &:focus
    color: darken($accent, 15%)
    outline: none
    text-decoration: none

h1, h2, h3, h4, h5, h6
  font-weight: 300

h2
  font-family: $ms-font
  font-size: 60px
  font-weight: 200
  +r(1200)
    font-size: 50px
  +r(992)
    font-size: 40px
  +r(767)
    font-size: 28px
  +r(576)
    font-size: 20px

section
  padding: 65px 0

/* Hidden element */
.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  border: 0
  clip: rect(0 0 0 0)
  overflow: hidden

/* Buttons */
.btn
  position: relative
  z-index: 1
  display: inline-block
  vertical-align: middle
  padding: 21px 30px
  font-family: $main-font
  font-size: 16px
  font-weight: 500
  line-height: 1
  color: $accent
  text-align: center
  background: none
  border: 1px solid $accent
  outline: none
  text-decoration: none
  cursor: pointer
  user-select: none
  transition: all .25s ease
  text-transform: uppercase
  &::before
    content: ''
    position: absolute
    z-index: -1
    top: -4px
    left: -4px
    width: 100%
    height: 100%
    border: inherit
    +trans(all, 0.6s)
  &:hover
    color: #fff
    &::before
      top: 0
      left: 0
      background-color: $accent
  &:active
    background-color: darken($accent, 5%)
  &:focus
    color: #fff
    &::before
      top: 0
      left: 0
      background-color: lighten($accent, 5%)
  &[disabled]
    background-color: #e5e5e5
    cursor: not-allowed
    color: #fff

.wrapper
  display: flex
  flex-direction: column
  height: 100%

.content
  flex: 1 0 auto

.section-head
  margin-bottom: 55px
  text-align: center
  .section-title
    margin-bottom: 0
  p
    font-family: $ms-font
    font-size: 30px
    text-transform: uppercase
    +r(1200)
      font-size: 26px
    +r(992)
      font-size: 22px
    +r(767)
      font-size: 18px
    +r(576)
      font-size: 14px

.section-title
  position: relative
  z-index: 1
  margin-bottom: 75px
  text-align: center
  text-transform: uppercase
  line-height: 1.3
  +r(767)
    margin-bottom: 45px
  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    z-index: -1
    width: 100%
    height: 1px
    background-color: $accent
  span
    display: inline
    background-color: #fff
    padding: 0 60px
    +r(767)
      padding: 0 30px
    +r(576)
      padding: 0 15px

.text-accent
  font-size: 20px
  text-transform: uppercase
  +r(767)
    font-size: 18px
  &::before, &::after
    content: ''
    display: block
    width: 95%
    height: 1px
    margin: 30px 0
    background-color: $accent

.read-more
  font-size: 16px
  text-decoration: underline