.about
  +r(767)
    padding-bottom: 30px
  .section-head
    text-align: left
    .section-title
      text-align: left
      span
        padding-left: 0
  &__content
    padding-top: 35px
    +r(992)
      margin-bottom: 50px
      padding-top: 0
    h3
      font-size: 18px
      font-weight: 700
    p
      font-size: 15px
      line-height: 1.8
    .read-more
      float: right
      margin-top: 10px
  &__img
    &-wrap
      position: relative
      float: right
      +r(992)
        float: none
        max-width: 505px
        margin: 0 auto
        text-align: center
    &-caption
      position: absolute
      bottom: 30px
      right: 40px
      color: #fff
      text-align: right
      h4
        margin: 0
        font-size: 18px
        font-weight: 500
      span
        font-weight: 300