#order.modal
  button(type="button").order_close.modal__close Close
    span.modal__close-line

  h3.modal__title Заказ рубашки

  form.ajax-form.modal__form
    input(type="hidden", name="subject", value="Заказ рубашки")
    .form-group
      input(type="text", name="name", placeholder="Ваше имя", required).form-field
    .form-group
      input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
    .form-group
      button(type="submit").btn Отправить

#order_1.modal
  button(type="button").order_1_close.modal__close Close
    span.modal__close-line

  h3.modal__title Индивидуальный пошив женских и мужских рубашек

  form.ajax-form.modal__form
    input(type="hidden", name="subject", value="Индивидуальный пошив женских и мужских рубашек")
    .form-group
      input(type="text", name="name", placeholder="Ваше имя", required).form-field
    .form-group
      input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
    .form-group
      button(type="submit").btn Отправить заявку

#order_2.modal
  button(type="button").order_2_close.modal__close Close
    span.modal__close-line

  h3.modal__title Пошив корпоративных рубашек

  form.ajax-form.modal__form
    input(type="hidden", name="subject", value="Пошив корпоративных рубашек")
    .form-group
      input(type="text", name="name", placeholder="Ваше имя", required).form-field
    .form-group
      input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
    .form-group
      button(type="submit").btn Отправить заявку

#order_3.modal
  button(type="button").order_3_close.modal__close Close
    span.modal__close-line

  h3.modal__title Пошив рубашек и блузок для школьной формы

  form.ajax-form.modal__form
    input(type="hidden", name="subject", value="Пошив рубашек и блузок для школьной формы")
    .form-group
      input(type="text", name="name", placeholder="Ваше имя", required).form-field
    .form-group
      input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
    .form-group
      button(type="submit").btn Отправить заявку

#order_4.modal
  button(type="button").order_4_close.modal__close Close
    span.modal__close-line

  h3.modal__title Подарочные сертификаты

  form.ajax-form.modal__form
    input(type="hidden", name="subject", value="Подарочные сертификаты")
    .form-group
      input(type="text", name="name", placeholder="Ваше имя", required).form-field
    .form-group
      input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
    .form-group
      button(type="submit").btn Отправить заявку

#meeting.modal
  button(type="button").meeting_close.modal__close Close
    span.modal__close-line

  h3.modal__title Записаться на встречу

  form.ajax-form.modal__form
    input(type="hidden", name="subject", value="Записаться на встречу")
    .form-group
      input(type="text", name="name", placeholder="Ваше имя", required).form-field
    .form-group
      input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
    .form-group
      button(type="submit").btn Записаться

#about-more.modal.modal--about
  button(type="button").about-more_close.modal__close Close
    span.modal__close-line

  h3 Выбираете практичность одежды со свободой комбинацией гардероба? <br>Нуждаетесь в идеально подобранной базе?
  .modal__content
    p <strong>Я тоже!</strong> Поэтому когда я впервые приобрела идеальную белую рубашку, я была на седьмом небе, так как это незаменимый предмет гардероба: она создает необходимый образ хоть для  рабочей встречи, хоть для ЗАГСа. Общаясь со стилистами, да и просто с друзьями, я поняла, что мало кто имеет в своем арсенале это незаменимое «тайное оружие» - идеально сидящую и комфортную белую рубашку.
    h3 Почему надо сделать заказ?
    p Найти подходящую основу мужского и женского гардероба в массмаркете непросто, несмотря на многочисленные предложения для среднестатистической модели фигуры. Нет в мире двух похожих людей, как внешне, так и по характеру и предпочтениям... Вещи индивидуального пошива вне времени, они отличного качества, они также уникальны, как и вы сами.
    p Самое ценное в современном мире - это время. Лучше его провести с удовольствием и пользой для себя, чем каждый раз тратить его на поход по магазинам за базовой вещью в гардеробе.
    p По опыту в производстве одежды, я знаю, что самые популярные модели - это простые, не обремененные различными деталями изделия. Этот принцип и лег в основу моделирования.
    h3 В чем преимущество заказа у нас?
    p После первого заказа в личном кабинете на сайте будет храниться вся информация о ваших замерах и новую идеальную рубашку легко будет заказать за пару кликов. Однако первый заказ потребует от вас некоторого времени и внимания: руководствуемся принципом «100 раз отмерь и один раз отрежь». Ваши мерки - это самое важное и необходимое для нашей работы. Потраченное время на замеры стоит того, чтобы на выходе получить очень качественный продукт. В универсальной, комфортной,  идеально сидящей одежде, сшитой только для вас, взятие новых вершин Вашей жизни произойдет стремительней. Это проверено.
    p И еще я верю, что придет время, когда мы не будем выкидывать тоннами ненужные вещи, а обратимся к разумному потреблению - будем отшивать вещи на заказ, создавая только свой личный «умный» гардероб.

#thanks.modal
  button(type="button").thanks_close.modal__close Close
    span.modal__close-line

  h3.modal__title Спасибо за заказ
  p Скоро мы Вам перезвоним!