section.about#about
  .container
    .section-head
      h2.section-title
        span О главной идеи
      p в создании компании

    .row
      .col-lg-6
        .about__content.clearfix
          h3 Выбираете практичность со свободой комбинаций в гардеробе? Нуждаетесь в идеально подобранной базе?
          p Я тоже! Поэтому когда я впервые приобрела идеальную белую рубашку, я была на «седьмом небе», так как это незаменимый предмет гардероба: она создает необходимый образ хоть для  рабочей встречи, хоть для ЗАГСа. Общаясь со стилистами, да и просто с друзьями, я поняла, что мало кто имеет в своем арсенале это незаменимое «тайное оружие» - идеально сидящую и комфортную белую рубашку.
          h3 Почему надо сделать заказ?
          p Найти подходящую основу мужского и женского гардероба в массмаркете непросто, несмотря на многочисленные предложения для среднестатистической модели фигуры. Нет в мире двух похожих людей, как внешне, так и по характеру и предпочтениям... Вещи индивидуального пошива вне времени, они отличного качества, они также уникальны, как и вы сами.
          p Самое ценное в современном мире - это время. Лучше его провести с удовольствием и пользой для себя, чем каждый раз тратить его на поход по магазинам за базовой вещью в гардеробе.
          p По опыту в производстве одежды, я знаю, что самые популярные модели - это простые, не усложненные различными деталями изделия. Этот принцип и лег в основу моделирования.
          a(href="#").read-more.about-more_open Читать далее
      .col-lg-6
        figure.about__img-wrap
          img(src="static/images/content/about-img.jpg", alt="")