section.about#about
  .container
    .section-head(data-aos="fade-up")
      h2.section-title
        span О главной идеи
      p в создании компании

    .row
      .col-lg-6(data-aos="fade-left")
        .about__content.clearfix
          p В эпоху огромного разнообразия одежды в массмаркете у вас есть возможность приобрести рубашку самых немыслимых фасонов, спасибо фантазии дизайнеров.
          p Постарались и конструкторы, которые просчитали среднестатистическую модель мужской и женской фигуры. Вывели усредненную модель, но не подходящую идеально никому. Нет в мире двух похожих людей как по характеру, так и внешне.
          p Сейчас очень важна в одежде практичность и минимальный гардероб, но с возможностью свободы комбинации различных комплектов. Когда я впервые приобрела идеальную белую рубашку, я была на седьмом небе, так как это незаменимый предмет гардероба. Общаясь со стилистами, да и просто с друзьями, выяснилось, что мало кто имеет в своем арсенале - это незаменимое «тайное оружие» - идеально сидящую и комфортную белую рубашку.
          p.text-accent Имея опыт в производстве одежды, я знаю, что самые популярные модели - это самые простые, не обремененные различными деталями изделия.
          p Поэтому мне очень захотелось быть полезной людям в новой сфере деятельности - создать необходимую основу мужского и женского гардероба. Считаю, что белая рубашка сшитая по индивидуальным меркам - является таковой.Она поможет составить вам образ хоть вы собираетесь на рабочую встречу, хоть в ЗАГС.
          a(href="#").read-more Читать далее
      .col-lg-6(data-aos="fade-right")
        figure.about__img-wrap
          img(src="static/images/content/about-img.jpg", alt="Иван Кожановский")
          figcaption.about__img-caption
            h4 Иван Кожановский
            span основатель MY WHITE
        img(src="static/images/content/about-img-2.jpg", alt="").about__float-img