section.advantages
  .container
    h2.section-title
      span Преимущества

    .row.advantages-list
      .col-md-6.col-lg-4
        .advantages-list__item
          +icon('sewing-machine', 'advantages-list__icon')
          p Индивидуальный пошив в Европе на профессиональном оборудовании специализирующемся только на рубашках.
      .col-md-6.col-lg-4
        .advantages-list__item
          +icon('calendar', 'advantages-list__icon')
          p Получение готовой рубашки через 3 недели <br>с момента заказа
      .col-md-6.col-lg-4
        .advantages-list__item
          +icon('wallet', 'advantages-list__icon')
          p Демократичная цена на индивидуальный пошив <br>(от 8000 руб.)
      .col-md-6.col-lg-4
        .advantages-list__item
          +icon('union', 'advantages-list__icon')
          p Более 100 видов разных белых тканей, <br>в том числе non iron
      .col-md-6.col-lg-4
        .advantages-list__item
          +icon('shirt', 'advantages-list__icon')
          p Отработанные фасоны рубашек <br>для разных типов фигур
      .col-md-6.col-lg-4
        .advantages-list__item
          +icon('second-hand', 'advantages-list__icon')
          p Легкий заказ рубашки on-line