section.hero(style="background-image: url(static/images/content/hero-bg.jpg)")
  .container
    .row
      .col-sm-10.col-md-9.col-lg-8.col-xl-7
        .hero__content
          h1
            span Подчеркивая вашу уникальность
            | создаем <br>идеальную базу <br>вашего гардероба
          a(href="#").btn.order_open Подробнее
  .hero__media
    p Follow Us
    ul.social.hero__social
      li
        a(href="#", target="_blank")
          +icon('facebook', 'social__icon')
      li
        a(href="#", target="_blank")
          +icon('instagram', 'social__icon')