section.how-work
  .container
    .section-head
      h2.section-title
        span Как получить
      p свою идеальную белую рубашку

    .how-work-list
      .how-work-list__item
        .how-work-list__icon-wrap
          span.how-work-list__number 01
          +icon('shirt-2', 'how-work-list__icon')
        h3.how-work-list__title Подобрать на сайте
        p Выбрать фасон, ткань и детали рубашки на сайте (на каждом этапе консультант может быть на связи)
      .how-work-list__item
        .how-work-list__icon-wrap
          span.how-work-list__number 02
          +icon('measure', 'how-work-list__icon')
        h3.how-work-list__title Снять мерки
        p Снять мерки с помощью наших наглядных видео-инструкций или с помощью нашего замерщика (выезд по Москве) или приехать к нам в офис на замеры (Москва).
      .how-work-list__item
        .how-work-list__icon-wrap
          span.how-work-list__number 03
          +icon('cursor', 'how-work-list__icon')
        h3.how-work-list__title Осуществить оплату
        p Оплатить заказ и оформить доставку.
      .how-work-list__item
        .how-work-list__icon-wrap
          span.how-work-list__number 04
          +icon('bags', 'how-work-list__icon')
        h3.how-work-list__title Забрать свою рубашку
        p Немного терпения и рубашка уже у вас.
        a(href="#").btn оставить заявку