section.how-work#how-work
  .container
    .section-head
      h2.section-title
        span Как получить
      p свою идеальную белую рубашку

    .how-work-list
      .how-work-list__item
        .how-work-list__icon-wrap
          span.how-work-list__number 1
          +icon('shirt-2', 'how-work-list__icon')
        h3.how-work-list__title Подобрать на сайте
        p Выбрать фасон, ткань и детали рубашки на сайте (на каждом этапе консультант может быть на связи)
      .how-work-list__item
        .how-work-list__icon-wrap
          span.how-work-list__number 2
          +icon('measure', 'how-work-list__icon')
        h3.how-work-list__title Снять мерки
        p С помощью наших наглядных видео-инструкций, либо вызвать замерщика или приехать к нам в офис.
      .how-work-list__item
        .how-work-list__icon-wrap
          span.how-work-list__number 3
          +icon('cursor', 'how-work-list__icon')
        h3.how-work-list__title Оформить удобный вид доставки
        p Оплатить заказ.
      .how-work-list__item
        .how-work-list__icon-wrap
          span.how-work-list__number 4
          +icon('bags', 'how-work-list__icon')
        h3.how-work-list__title Получить свою рубашку
        p Немного терпения и рубашка уже у Вас.
        a(href="#").btn.order_open оставить заявку