section.services#services
  .container
    h2.section-title
      span Услуги
    .row.services-list
      .col-lg-6.col-xl-4
        .services-list__item
          img(src="static/images/content/services-1.jpg", alt="Индивидуальный пошив женских и мужских рубашек")
          .services-list__content
            h3.services-list__title Индивидуальный пошив женских и мужских рубашек
            a(href="#").btn Перейти
      .col-lg-6.col-xl-8
        .row
          .col-lg-12.col-xl-6
            .services-list__item.services-list__item--white
              img(src="static/images/content/services-2.jpg", alt="пошив корпоративных рубашек")
              .services-list__content
                h3.services-list__title пошив <br>корпоративных рубашек
                p.services-list__descr Индивидуальный пошив корпоративных белых рубашек
                a(href="#").btn Перейти
          .col-lg-12.col-xl-6
            .services-list__item.services-list__item--white
              img(src="static/images/content/services-3.jpg", alt="пошив рубашек и блузок для школьной формы")
              .services-list__content
                h3.services-list__title пошив <br>рубашек и блузок для школьной формы
                a(href="#").btn Перейти
          .col-12
            .services-list__item.services-list__item--white
              img(src="static/images/content/services-4.jpg", alt="Подарочные сертификаты")
              .services-list__content
                h3.services-list__title Подарочные сертификаты
                a(href="#").btn Перейти