header.header
  .header__top
    .container
      nav.nav.header__nav
        ul.nav-list
          li
            a(href="#advantages") Преимущества
          li
            a(href="#services") Услуги
          li
            a(href="#how-work") Как заказать
          li
            a(href="#about") О компании
          li
            a(href="#contact") Контакты

      .phone.header__phone
        a(href="tel:88005555561").phone__tel
          +icon('phone', 'phone__icon')
          |  8 800 555 55 61

  .header__bottom
    .container
      a(href="./").logo.header__logo
        img(src="static/images/general/logo.jpg", alt="My White", width="160")
        p.logo__descr Создаем белые рубашки <br>исключительно под вас

      ul.menu.header__menu
        li
          a(href="#") мужчинам
        li
          a(href="#") женщинам
        li
          a(href="#") корпоративный стиль
        li
          a(href="#") детям
        li
          a(href="#") Подарочный сертификат

      button(type="type").nav-toggle
        span.nav-toggle__line

  .mobile-menu

    button(type="button").mobile-menu__close

    .mobile-menu__wrap
      ul.mobile-menu__list
        li
          a(href="#") Мужчинам
        li
          a(href="#") Женщинам
        li
          a(href="#") Корпоративный стиль
        li
          a(href="#") Детям
        li
          a(href="#") Подарочный сертификат
        li
          a(href="#advantages") Преимущества
        li
          a(href="#services") Услуги
        li
          a(href="#how-work") Как заказать
        li
          a(href="#about") О компании
        li
          a(href="#contact") Контакты

    .mobile-menu__bottom
      ul.social.mobile-menu__social
        li
          a(href="#", target="_blank")
            +icon('facebook', 'social__icon')
        li
          a(href="#", target="_blank")
            +icon('instagram', 'social__icon')
      .phone.mobile-menu__phone
        a(href="tel:88005555561").phone__tel
          +icon('phone', 'phone__icon')
          |  8 800 555 55 61