header.header
  .header__top
    .container
      nav.nav.header__nav
        ul.nav-list
          li
            a(href="#advantages") Преимущества
          li
            a(href="#services") Услуги
          li
            a(href="#how-work") Как заказать
          li
            a(href="#about") О компании
          li
            a(href="#contact") Контакты

  .header__bottom
    .container
      a(href="./").logo.header__logo
        .logo__wrap
          img(src="static/images/general/logo-top.svg", alt="My White").logo__top
          img(src="static/images/general/logo-bottom.svg", alt="My White").logo__bottom
        p.logo__descr Шьем белые рубашки <br>индивидуально для вас

      ul.menu.header__menu
        li
          a(href="#wm-shirts") мужчинам
        li
          a(href="#wm-shirts") женщинам
        li
          a(href="#corporate") корпоративный стиль
        li
          a(href="#children") детям
        li
          a(href="#gift") Подарочный сертификат

      button(type="type").nav-toggle
        span.nav-toggle__line

  .mobile-menu

    button(type="button").mobile-menu__close

    .mobile-menu__wrap
      ul.mobile-menu__list
        li
          a(href="#wm-shirts") Мужчинам
        li
          a(href="#wm-shirts") Женщинам
        li
          a(href="#corporate") Корпоративный стиль
        li
          a(href="#children") Детям
        li
          a(href="#gift") Подарочный сертификат
        li
          a(href="#advantages") Преимущества
        li
          a(href="#services") Услуги
        li
          a(href="#how-work") Как заказать
        li
          a(href="#about") О компании
        li
          a(href="#contact") Контакты

    .mobile-menu__bottom
      ul.social.mobile-menu__social
        li
          a(href="#", target="_blank")
            +icon('facebook', 'social__icon')
        li
          a(href="#", target="_blank")
            +icon('instagram', 'social__icon')